.btn-linkedin {
    background: #007BB6;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #007BB6;
  }
  .btn-linkedin:link, .btn-linkedin:visited, 
  .btn-github:link, .btn-github:visited {
    color: #fff;
  }
  .btn-linkedin:active, .btn-linkedin:hover {
    background: #007BB6;
    color: #fff;
  }

.btn-github {
    background: #2b2b2b;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #2b2b2b;
}

.btn-github:active, .btn-github:hover {
    background: #2b2b2b;
    color: #fff;
}

.c-social__link {
    display: flex;
    justify-content: flex-end;
}

.c-social__link a {
    width: 50px;
    margin-left: 5px;
}

.btn-block+.btn-block {
    margin-top: 0;
}

.logo-univ {
    width: 100px;
    height: 100px;
}

.sub-desc {
    display: flex;
}

body {
    font-family: 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
}

.logo-prox {
    width: 135px;
    height: 100px;
}

.logo-madamonitor {
    width: 200px;
    height: 100px;
}

.experiences img+div, .formation img+div {
    margin-left: 15px;
}